.signup {
    /*display: flex;*/
    padding: 3% 4% 0px 4%;
    /*font-size: 16px;*/

    /*position: relative;*/

}
form {
    display: flex;
    flex-direction: column;
    margin: 0;
    /*border: 1px solid black;*/
}


/*#firstName {*/

/*    !*width: 50%;*!*/
/*    !*margin-bottom: 20px;*!*/
/*    !*padding: 10px 20px;*!*/
/*    background-color: #fff;*/
/*    border: 1px solid #000000;*/
/*    !*position: absolute;*!*/
/*    margin:  0px 0px 0px;*/
/*}*/

/*#lastName {*/
/*    background-color: #fff;*/
/*    border: 1px solid #000000;*/
/*    !*border-radius: 10px;*!*/
/*    !*position: absolute;*!*/
/*    margin: 20px 0px 0px 0px;*/
/*}*/

/*#email {*/
/*    background-color: #fff;*/
/*    border: 1px solid #000000;*/
/*    !*position: absolute;*!*/
/*    margin: 40px 0px 0px 0px;*/
/*}*/

/*#password {*/
/*    background-color: #fff;*/
/*    border: 1px solid #000000;*/
/*    !*position: absolute;*!*/
/*    margin: 60px 0px 0px 0px;*/
/*}*/

/*#create {*/
/*    !*width: 100px;*!*/
/*    !*height: 50px;*!*/
/*    background-color: #fff;*/
/*    border: 1px solid #000000;*/
/*    !*position: absolute;*!*/
/*    margin: 80px 0px 0px 0px;*/
/*}*/